layout {
  pane size=1 borderless=true {
    plugin location="zellij:tab-bar"
  }
  pane split_direction="vertical" {
    pane name="hx" {
      command "direnv"
      args "exec" "." "nu" "-e" "hx"
      focus true
    }
    pane {
      pane stacked=true {
        pane name="cargo check" {
          command "direnv" 
          args "exec" "." "nu" "-c" "watch . --glob=**/*.rs {|| clear; try { cargo check } }"
          start_suspended true
        }
        pane name="cargo test" {
          command "direnv" 
          args "exec" "." "nu" "-c" "watch . --glob=**/*.rs {|| clear; try { cargo test } }"
          start_suspended true
        }
        pane name="cargo run" {
          command "direnv" 
          args "exec" "." "nu" "-c" "watch . --glob=**/*.rs {|| clear; try { cargo run } }"
          start_suspended true
        }
      }
      pane name="clippy" {
        command "direnv" 
        args "exec" "." "nu" "-c" "watch . --glob=**/*.rs {|| clear; try { cargo clippy } }"
      }
    }
  }
  pane size=2 borderless=true {
    plugin location="zellij:status-bar"
  }
}
