layout {
  pane size=1 borderless=true {
    plugin location="zellij:tab-bar"
  }
  pane split_direction="vertical" {
    pane name="hx" {
      command "direnv"
      args "exec" "." "hx"
      focus true
    }
    pane {
      pane stacked=true {
        pane name="cargo check" {
          command "direnv"
          args "exec" "." "zsh" "-c" "while true; do fd --extension rs . | entr -cd cargo check; done"
          start_suspended true
        }
        pane name="cargo test" {
          command "direnv"
          args "exec" "." "zsh" "-c" "while true; do fd --extension rs . | entr -cd cargo test; done"
          start_suspended true
        }
        pane name="cargo run" {
          command "direnv"
          args "exec" "." "zsh" "-c" "while true; do fd --extension rs . | entr -cd cargo run; done"
          start_suspended true
        }
      }
      pane name="clippy" {
        command "direnv"
        args "exec" "." "zsh" "-c" "while true; do fd --extension rs . | entr -cd cargo clippy; done"
      }
    }
  }
  pane size=2 borderless=true {
    plugin location="zellij:status-bar"
  }
}
