name: "CI"
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  check:
    name: Check Flake
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v15
        with:
          name: tguimbert
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Check flake
        run: nix flake check --all-systems

  build:
    name: Build Systems
    runs-on: ubuntu-latest
    needs: check
    strategy:
      matrix:
        system: [leshen]
    steps:
      - uses: actions/checkout@v5
      - name: Free Disk Space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc
          sudo docker image prune --all --force
          df -h
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v15
        with:
          name: tguimbert
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Build ${{ matrix.system }}
        run: nix build .#nixosConfigurations.${{ matrix.system }}.config.system.build.toplevel

  linting:
    name: Check Linting
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Check Nix flake inputs
        uses: DeterminateSystems/flake-checker-action@3164002371bc90729c68af0e24d5aacf20d7c9f6 # v12
        with:
          nixpkgs-keys: nixpkgs,unstable
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@786fff0690178f1234e4e1fe9b536e94f5433196 # v20
      - name: Check pre-commit
        run: nix develop . --command pre-commit run --all-files

  define-overlays-matrix:
    name: Define overlays matrix
    runs-on: ubuntu-latest
    outputs:
      overlays: ${{ steps.overlays.outputs.overlays }}

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Find and export overlays
        id: overlays
        working-directory: overlays
        run: |
          overlays=$(find . -maxdepth 1 -type d -not -path '*/\.*' -not -path . | sed 's|^\./||')
          echo "Overlays found: $overlays"
          overlays_json=$(printf '%s\n' "$overlays" | jq -R . | jq -s -c .)
          echo "overlays=$overlays_json" >> "$GITHUB_OUTPUT"

  cache-overlays:
    name: Cache Overlays
    runs-on: ubuntu-latest
    needs: define-overlays-matrix
    strategy:
      matrix:
        overlay: ${{ fromJSON(needs.define-overlays-matrix.outputs.overlays) }}

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@786fff0690178f1234e4e1fe9b536e94f5433196 # v20
      - name: Add personal cachix configuration
        uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: tguimbert
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Build overlay package
        run: nix build .#pkgs.x86_64-linux.nixpkgs.${{ matrix.overlay }}
