name: "CI"
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  check:
    name: Check Flake
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v15
        with:
          name: tguimbert
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Check flake
        run: nix flake check --all-systems

  build-systems:
    name: Build Systems
    runs-on: ubuntu-latest
    needs: check
    strategy:
      fail-fast: false
      matrix:
        system:
          - leshen
          - griffin
    steps:
      - uses: actions/checkout@v5
      - name: Free Disk Space
        run: |
          sudo rm -rf /usr/lib/jvm
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/share/swift
          sudo rm -rf /usr/local/.ghcup
          sudo rm -rf /usr/local/julia*
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/local/share/chromium
          sudo rm -rf /opt/microsoft /opt/google
          sudo rm -rf /opt/az
          sudo rm -rf /usr/local/share/powershell
          sudo rm -rf /opt/hostedtoolcache
          sudo rm -rf /opt/ghc
          sudo docker image prune --all --force
          docker system prune -af || true
          docker builder prune -af || true
          df -h
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v15
        with:
          name: tguimbert
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Build ${{ matrix.system }}
        run: nix build .#nixosConfigurations.${{ matrix.system }}.config.system.build.toplevel

  build-shells:
    name: Build Shells
    runs-on: ubuntu-latest
    needs: check
    strategy:
      fail-fast: false
      matrix:
        shell:
          - go
          - markdown
          - nixos
          - nodejs
          - ops
          - protobuf
          - python
          - rust
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v15
        with:
          name: tguimbert
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Build ${{ matrix.shell }} shell
        run: nix build .#devShells.x86_64-linux.${{ matrix.shell }}
